<%= javascript_include_tag 'http://code.jquery.com/jquery-1.10.1.min.js' %>
<%= javascript_include_tag("jquery.tubular.1.0") %>
<%= javascript_include_tag("chessboard-0.3.0.min") %>

<%= stylesheet_link_tag 'chessboard' %>

<body>
<div id="wrapper">

  <button type="button" class="btn btn-danger" id="hide_button">
    Hide/Show
  </button>

  <% if current_user %>
    <%= render 'players/partials/index_content' %>
  <% else %>
    <%= render 'players/partials/video_controls' %>
    <%= render 'players/partials/homepage' %>
  <% end %>
  <%= javascript_include_tag 'chessboard_config' %>
  <%= javascript_include_tag 'wrapper' %>
</div>
</body>
