<%= javascript_include_tag 'http://code.jquery.com/jquery-1.10.1.min.js' %>
<%= javascript_include_tag("jquery.tubular.1.0") %>
<%= javascript_include_tag("chessboard-0.3.0.min") %>

<%= stylesheet_link_tag 'chessboard' %>

<body>
<div id="wrapper">

  <button type="button" class="btn btn-danger" id="hide_button">
    Hide/Show
  </button>

  <div id="hide_content_top">

    <% if current_user %>
      <h1><%= current_user.first_name.titlecase %>'s Profile</h1>
      <%= render 'players/partials/index_content' %>
    <% else %>
      <h1>Sample Profile</h1>
      <%= render 'players/partials/index_content' %>
    <% end %>

  </div>
</div>
</body>
